@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #0289b5;
  --color-secondary: #80c92b;
  --color-accent: #fed13a;
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.zoom-out {
  animation: zoomOut 3s ease-out;
}

.fade-out {
  animation: fadeOut 2s ease-out forwards;
}

.slide-in {
  animation: slideIn 0.5s cubic-bezier(0, 0, 0.58, 1) forwards;
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards 0.5s;
}

.about-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  z-index: -1;
}

html {
  scroll-behavior: smooth;
}
